@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Lato&family=Open+Sans&family=Philosopher&family=Rajdhani:wght@500&family=Roboto+Condensed:wght@300&family=Roboto:wght@300&display=swap');

* {
    font-family: 'Dosis', sans-serif;
    letter-spacing: 1px;
}

*,
:after,
:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

header {
    position: fixed;
    width: 100%;
    z-index: 99999;
    background: #fff;
    transition: all .3s ease 0s;
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

.sticky {
    background: #ffffff;
    animation: .7s ease-in-out 0s normal none 1 running fadeInDown;
    box-shadow: 1px 10px 20px 0px rgb(0 0 0 / 22%);
}

.main-menu>nav {
    margin-left: 40px;
    text-align: end;
}

.main-menu>nav>ul {
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 18px;
    /* display: none; */

}
#burger{
    margin-left: 35px;
    margin-top: 46px;
    font-size: 20px;
    display: none;
}

.main-menu>nav>ul>li {
    margin: 0 10px;
    padding: 0 7px;
    display: inline-block;
}

.main-menu>nav>ul>li>a {
    line-height: 110px;
    text-decoration: none;
    color: #000000;
    /*text-transform: uppercase;*/
}

.navbarmain.sticky {
    background: #ffffff;
    padding: 10px 0;
    box-shadow: 1px 10px 20px 0px rgb(0 0 0 / 22%);
}

.main-menu>nav>ul>li>a:hover {
    color: #F03D45;
}

img#logo {
    max-width: 210px;
    padding-top: 15px;
}

.header-right {
    padding-top: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
}

#cart-counter {
    left: 11px;
    top: -16px;
    position: absolute;
    background-color: #1f2226;
    color: #fff;
    font-size: 13px;
    display: inline-block;
    width: 22px;
    height: 22px;
    line-height: 22px;
    font-family: 'Roboto', sans-serif;
    border-radius: 100%;
}


.money,
.cart-price {
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
}

.header-search {
    margin-right: 26px;
}

.header-search>a:hover,
.header-cart>button>span>i:hover,
.header-setting>button>i:hover {
    text-decoration: none;
    color: #F03D45;
}

.header-search>a:hover,
.header-search>a:focus {
    text-decoration: none;
    outline: none;
}

.header-search>a,
.header-cart>button>span>i {
    text-decoration: none;
    font-size: 21px;
    color: #5b5b5b;
}

.cart-price {
    margin-left: 6px;
}

.header-cart>button {
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
}

.header-cart>button>span {
    position: relative;
}

.header-setting {
    margin-left: 26px;
}

.header-setting>button {
    background-color: transparent;
    border: none;
    font-size: 21px;
    padding: 0;
}

.angle_shap {
    position: relative;
}

.angle_shap::after {
    content: "";
    border-bottom: 16px solid #fff;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    height: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translate(-50%);
    position: absolute;
    bottom: 0;
    width: 0;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .5s ease 0s;
    -o-transition: all .5s ease 0s;
    transition: all .5s ease 0s;
    z-index: 9999;
}

.unvisible_mega_menu {
    width: 1062px;
    left: -400px;
    background-color: #fff;
    display: block;
    padding: 23px 30px 30px 0;
    position: absolute;
    text-align: left;
    top: 100%;
    -webkit-transform: rotateX(90deg);
    transform: rotateX(90deg);
    -webkit-transform-origin: center top 0;
    -ms-transform-origin: center top 0;
    transform-origin: center top 0;
    -webkit-transition: all .5s ease 0s;
    -o-transition: all .5s ease 0s;
    transition: all .5s ease 0s;
    visibility: hidden;
    /* width: 972px; */
    z-index: 999;
    -webkit-box-shadow: 0 0 20px 0.4px rgb(0 0 0 / 10%);
    box-shadow: 0 0 20px 0.4px #0000001a;

}

.unvisible_mega_menu li a {
    color: black;
    text-decoration: none;
}

.mega-menu-li {
    float: left;
    /* display: inline-block; */
    padding-left: 40px;
    padding-right: 0;
    width: 25%;
}

.mega-menu-li ul {
    padding: 0;
}

.mega-menu-li ul li {
    margin-top: 23px;
}

.mega-menu-li ul li:hover a {
    color: #F03D45;
}

.mega-menu-li ul li a {
    display: block;
    text-transform: capitalize;
}

li.angle_shap:hover.angle_shap:after {
    opacity: 1;
    visibility: visible;

}

li.angle_shap:hover .unvisible_mega_menu {
    transform: rotateX(0);
    visibility: visible;
}

.mega-title {
    color: #000;
    letter-spacing: .2px;
    display: block;
    font-weight: 800;
    border-bottom: 2px solid #ccc;
    padding-bottom: 18px;
}

ul.unvisible_mega_menu,
.unvisible_mega_menu ul {
    list-style: none;
}

.sub-menu.mega-menu-img {
    display: inline-block;
    max-width: 100%;
    padding-top: 30px;
    padding-left: 30px;
}

.slider-menu {
    padding-top: 110px;
    position: relative;
    height: 100%;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
}

#Swiper1>div>.slide1 {
    height: 750px;
    background: url(../IMAGES/slider1.webp);
    background-size: cover;

    display: flex;
    align-items: center;
}

#Swiper1>div>.slide2 {
    height: 750px;
    background: url(../IMAGES/slider2.webp);
    background-size: cover;
    display: flex;
    align-items: center;
}

.swiper-slide-active .slider-content>h3,
.swiper-slide-active .slider-content>h1,
.swiper-slide-active .slider-content>p,
.swiper-slide-active .slider-content>div {
    animation: fadeInLeft;
    animation-delay: 0.5s;
    animation-duration: 1.3s;
    opacity: 0;
    animation-fill-mode: both;
}

.swiper-slide-active .slider-content>h1 {
    animation-delay: 0.5s;
}

.swiper-slide-active .slider-content>p {
    animation-delay: 0.9s;
}

.swiper-slide-active .slider-content>div {
    animation-delay: 1.1s;
}

.slider-content>h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #f44344;
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 5px;


}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}


.slider-content>h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: #383838;
    font-size: 60px;
    line-height: 70px;
    margin-bottom: 10px;
}

.slider-content>p {
    font-size: 17px;
    margin-bottom: 50px;
}

.slider-btn>a:hover {
    text-decoration: none;
}

.slider-btn>a:hover {
    color: #fff;
    background-color: #f44344;
    border: 1px solid #f44344;

}

.slider-btn>a {
    background-color: rgba(0, 0, 0, 0);
    color: #1f2226;
    border: 1px solid #000000;
    border-radius: 30px;
    text-transform: unset;
    font-size: 16px;
    letter-spacing: .2px;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
    padding: 15px 30px;
    transition: all .3s ease 0s;
}

#Swiper1>.swiper-button-prev:after,
#Swiper1>.swiper-button-next:after,
#swiper2>.swiper-button-prev:after,
#swiper2>.swiper-button-next:after {
    font-size: 22px;
}

#Swiper1>.swiper-button-prev,
#swiper2>.swiper-button-prev {

    color: black;
    background: white;
    width: 60px;
    height: 56px;
    opacity: 0;

    visibility: hidden;
    margin-left: 20px;
    border-radius: 50%;
    transition: all 0.3s ease 0s;
}

#Swiper1>.swiper-button-next,
#swiper2>.swiper-button-next {
    color: black;
    background: white;

    width: 60px;
    height: 56px;
    margin-right: 20px;
    border-radius: 50%;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease 0s;

}

#Swiper1:hover .swiper-button-next,
#Swiper1:hover .swiper-button-prev,
#swiper2:hover .swiper-button-next,
#swiper2:hover .swiper-button-prev {
    opacity: 0.8;
    visibility: visible;

}

#Swiper1>.swiper-button-next:hover,
#Swiper1>.swiper-button-prev:hover,
#swiper2>.swiper-button-next:hover,
#swiper2>.swiper-button-prev:hover {
    background: #f44344;
    border: 1px solid #f44344;
    color: white;
    opacity: 1;
}

.sale-banner-inner>a>img {
    max-width: 100%;
    transform: scale(1);
    -webkit-transition: all .5s ease 0s;
    -o-transition: all .5s ease 0s;
    transition: all .5s ease 0s;

}

.sale-banner-inner:hover .sale-img {
    transform: scale(1.1);
}

.sale-banner {
    padding-top: 30px;
    padding-bottom: 35px;
}

.sale-banner-inner {
    position: relative;
    overflow: hidden;

}

.product-title {
    padding-bottom: 40px;
}

.product .product-title>h2 {
    text-align: center;
    font-size: 40px;
    font-weight: 900;
    margin: 18px 0 18px;
}

.product .product-title>p {
    font-size: 16px;
    width: 38%;
    text-align: center;
    margin: 0 auto;
}

.product-links a {
    text-decoration: none !important;
    margin: 0 10px;
    display: inline-block;

}



.product-links {
    display: flex;
    padding-bottom: 60px;
    justify-content: center;
}

.product-links a>h4 {
    padding: 14px 20px;
    font-size: 16px;
    text-transform: uppercase;
    background-color: #f1f1f1;
    color: #222222;
    border-radius: 50px;
    flex-wrap: wrap;
}

@keyframes Scale {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.animation-scale {
    animation: Scale;
    animation-delay: 0.1s;
    animation-duration: 0.5s;
    opacity: 0;
    animation-fill-mode: both;
}

.product-links a.active>h4 {
    background-color: #f44344;
    color: #ffffff;
    transition: all .3 ease;
}

.inner-product-links img {
    width: 270px;
    height: 300px;

}

.product-all-outer {
    border: 1px solid #f1f1f1;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    position: relative;
    overflow: hidden;
    animation: Scale;
    animation-delay: 0.1s;
    animation-duration: 0.5s;
    opacity: 0;
    animation-fill-mode: both;
}

.product-content {
    text-align: left;
    padding: 27px 24px 30px;
}

.product-content-title a {
    color: black;
    font-size: 17px;
    margin-bottom: 10 px;
    text-decoration: none !important;

}

.product-content-title a:hover {
    color: #f44344;
}

.Product-price h3 {
    margin-top: 0;
    font-size: 25px;
    font-weight: 900;
    color: #f44344;
}

.review {
    color: #F1C873;
}

.product-catagoty {
    position: relative;
    font-size: 15px;

    padding-left: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 15px;
}

.product-catagoty a {
    color: black !important;
    text-decoration: none !important;
}

.product-catagoty::after {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 20px;
    height: 1px;
    background-color: #949494;
}

.product-action {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 9;
}

.product-action-list {
    padding: 0 15px;
    list-style: none;
    margin: 0;
    height: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 4px 10px rgb(0 0 0 / 10%);
    box-shadow: 0 4px 10px #0000001a;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    transition: all .3s ease;
}

.product-action-list li {
    -webkit-transform: translateX(-30px);
    -ms-transform: translateX(-30px);
    transform: translateX(-30px);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
    margin: 5px 0;
    padding: 15px 20px 8px;
}

.product-action-list li a {
    font-size: 20px;
    text-decoration: none !important;
    color: black;
}

.product-action-list li a:hover {
    color: #f44344;
}

.product-img-wrapper {
    position: relative;
}

.product-all-outer:hover {
    box-shadow: 2px 4px 10px #0000001a;
}

.product-all-outer:hover .product-action-list li {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
}

.product-all-outer:hover .product-action-list {
    height: 60px;
}

#swiper2 {
    padding-bottom: 70px;
}

.testimonial-area {
    padding-top: 80px;
    padding-bottom: 95px;
    background: #8f7893 url(../IMAGES/testimonial.png)no-repeat scroll center center / cover;
}

.section-title {
    padding-bottom: 60px;
}

.section-title h2 {
    color: #ffffff;
    font-size: 40px;
    text-align: center;
    margin: 0 0 18px;
}

.section-title p {
    color: #ffffff;
    font-size: 14px;
    text-align: center;
    margin: 0 auto;
    width: 38%;


}

.client-review-wrapper {
    text-align: center !important;
}

.client-review-wrapper p {
    font-size: 16px;
    line-height: 32px;
    margin: 30px auto 32px;
    width: 70%;
    color: #fff;
}

.client-info h5 {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 22px 0 0;

}

.swiper3-prev {
    color: #1f2226;
    left: 23px;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    text-align: center;
    top: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
    -webkit-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
    border: 1px solid #e1e2e2;
    background-color: #fff;
    display: inline-block;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    line-height: 45px;
}

.swiper3-next {
    color: #1f2226;
    right: 23px;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    text-align: center;
    top: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
    border: 1px solid #e1e2e2;
    background-color: #fff;
    display: inline-block;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    line-height: 45px;
}

.swiper3-next:hover,
.swiper3-prev:hover {
    background-color: #ff3535;
    color: #fff;
    border: 1px solid #ff3535;
}

.testimonial-area:hover .swiper3-next {
    opacity: 1;
    visibility: visible;
    transform: translateX(50%);
    /* left: -20px; */
}

.testimonial-area:hover .swiper3-prev {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%);
}

#swiper3>.swiper-button-prev:after,
#swiper3>.swiper-button-next:after {
    font-size: 18px;
}

.blog-area {
    padding-top: 80px;

    padding-bottom: 50px;
}

.blog-area .section-title h2 {
    color: #000 !important;
}

.blog-area .section-title p {
    color: #000 !important;
}

.blog-banner-inner>a>img {
    max-width: 100%;
    transform: scale(1);
    -webkit-transition: all .5s ease 0s;
    -o-transition: all .5s ease 0s;
    transition: all .5s ease 0s;
    overflow: hidden !important;
    text-align: center;
    display: block;

}

.blog-banner-inner:hover .blog-img {
    transform: scale(1.1);
}

.blog-banner-inner {
    height: 245px;
    position: relative;
    overflow: hidden !important;
    margin-bottom: 30px;
    box-sizing: border-box;
}

.blog-content h3 {
    font-weight: 500;
    font-size: 22px;
    margin: 0;
    color: #383838;
    position: relative;
}

.blog-content h3:hover {
    color: #ff3535;
}

.blog-content h3::before {
    position: absolute;
    right: 0;
    bottom: -20px;
    width: 15px;
    height: 1px;
    background-color: #ebebeb;
    content: "";
    width: 100%;
    left: 0;
    margin: 0 auto;
}

.blog-content h4 {
    padding-top: 20px;
    font-size: 16px;
    font-weight: 900;
}

.blog-content h4:hover {
    color: #ff3535;
}

section {
    padding: 60px 0;
    min-height: 100vh;
}

a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    outline: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-footer {
    position: relative;
    background: #1e2129;
}

.footer-content {
    position: relative;
    padding: 85px 0px 80px 0px;
}

.footer-content:before {
    position: absolute;
    content: '';
    background: url(https://i.ibb.co/jyRLrBZ/world-map.png);
    width: 744px;
    height: 365px;
    top: 50px;
    right: 0px;
    background-size: cover;
    background-repeat: no-repeat;
    animation-name: float-bob;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    -webkit-animation-name: float-bob;
    -webkit-animation-duration: 30s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: float-bob;
    -moz-animation-duration: 30s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: float-bob;
    -ms-animation-duration: 30s;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    -o-animation-name: float-bob;
    -o-animation-duration: 30s;
    -o-animation-iteration-count: infinite;
    -o-animation-timing-function: linear;
}

.footer-content .logo-widget {
    position: relative;
    margin-top: -5px;
}

.footer-content .logo-widget .footer-social li {
    position: relative;
    display: inline-block;
    margin-right: 9px;
}

.footer-content .logo-widget .footer-social li:last-child {
    margin-right: 0px;
}

.footer-content .logo-widget .footer-social li a {
    position: relative;
    display: inline-block;
    width: 42px;
    height: 42px;
    line-height: 42px;
    background: #2e3138;
    color: #9ea0a9;
    text-align: center;
    border-radius: 50%;
}

.service-widget.footer-widget {
    padding-left: 100px;
}

.footer-content .logo-widget .footer-social li a:hover {
    color: #ffffff;
    background: #ff3535;
}

.footer-content .logo-widget .logo-box {
    margin-bottom: 25px;
}

.footer-content .logo-widget .text p {
    color: #9ea0a9;
    margin-bottom: 32px;
}

.footer-content .footer-title {
    position: relative;
    font-size: 24px;
    line-height: 35px;
    color: #ffffff;
    font-weight: 700;
    margin-bottom: 27px;
}

.footer-content .service-widget .list li {
    display: block;
    margin-bottom: 12px;
}

.footer-content .service-widget .list li a {
    position: relative;
    display: inline-block;
    color: #9ea0a9;
}

.footer-content .service-widget .list li a:hover {
    color: #ff3535;
}

.footer-content .contact-widget p {
    color: #9ea0a9;
    margin-bottom: 15px;
}

.footer-content .contact-widget {
    margin-left: 90px;
}

.footer-content .contact-widget .footer-title {
    margin-bottom: 29px;
}

/** footer-bottom **/

.footer-bottom {
    position: relative;
    background: #13151a;
    padding: 25px 0px 22px 0px;
}

.footer-bottom .copyright,
.footer-bottom .copyright a,
.footer-bottom .footer-nav li a {
    position: relative;
    color: #9ea0a9;
}

.footer-bottom .copyright a:hover,
.footer-bottom .footer-nav li a:hover {
    color: #ff3535;
}

.footer-bottom .footer-nav {
    position: relative;
    text-align: right;
}

.footer-bottom .footer-nav li {
    position: relative;
    display: inline-block;
    margin-left: 29px;
}

.footer-bottom .footer-nav li:first-child {
    margin-left: 0px;
}

.footer-bottom .footer-nav li:before {
    position: absolute;
    content: '';
    background: #9ea0a9;
    width: 1px;
    height: 14px;
    top: 7px;
    left: -18px;
}

.footer-bottom .footer-nav li:first-child:before {
    display: none;
}

.logo-box img {
    max-width: 220px;
}

.page-title-outter {
    padding-top: 115px;
}

.page-title-inner {
    background-color: #F6F6F6;
    padding-top: 35px;
    padding-bottom: 35px;
    text-align: center;
}

.shop-area-wrapper {
    padding-bottom: 100px;
    padding-top: 95px;
}

.search-product-bar input {
    background: transparent none repeat scroll 0 0;
    border: 1px solid #e6e6e6;
    font-size: 16px;
    height: 43px;
    outline: none;
    padding: 2px 55px 2px 18px;
}

.search-product-bar>div {
    display: inline-block;
    position: relative;
}

.search-product-bar {
    position: relative;
}

.search-product-bar button {
    background: transparent none repeat scroll 0 0;
    border-color: #a1a5aa;
    -webkit-border-image: none;
    -o-border-image: none;
    border-image: none;
    border-style: none none none solid;
    border-width: medium medium medium 1px;
    padding: 3px 15px 0;
    position: absolute;
    right: 0;
    top: 55%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    cursor: pointer;
    color: #000;
    -webkit-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
    font-size: 16px;
}

.product-sorting,
.product-result-wrapper {
    font-size: 16px;

}

.product-sorting-wrapper,
.product-result-wrapper {
    /* display: inline; */
    height: 43px;
    vertical-align: middle;
    padding-top: 10px;
    text-align: center;
}

.search-product-wrapper {
    padding-bottom: 50px;
}

#product-all-show-inner-row .product-all-outer {
    margin-bottom: 35px;
}

.shoping-cart-warpper {
    padding: 28px 30px 20px;
    user-select: auto;
    background: rgb(255, 255, 255) none repeat scroll 0 0;
    padding: 28px 30px 20px;
    position: absolute;
    right: -140px;
    top: 109px;
    width: 340px;
    z-index: 9999;
    -webkit-box-shadow: 0 0 20px 0.4px rgb(0 0 0 / 10%);
    box-shadow: 0 0 20px 0.4px #0000001a;
    -webkit-transition: all .4s ease 0s;
    -o-transition: all .4s ease 0s;
    transition: all .4s ease 0s;
    overflow-y: auto;
    opacity: 0;
    visibility: hidden;
}

.show {
    opacity: 1;
    visibility: visible;
    right: -50px;
}

.shopping-cart-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 30px;
}

.shopping-cart-products {
    height: 150px;
    overflow-y: auto !important;
}

.iteam {
    flex-wrap: unset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 30px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.iteam>div {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 90px;
    flex: 0 0 130px;
    position: relative;
}

.iteam>div>img {
    width: 100px;
}

.item-close {
    position: absolute;
    top: 10px;
    left: 10px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
}

.iteam:hover .item-close {
    opacity: 1;
    visibility: visible;
}

.item-close a,
a.cart-close {
    text-decoration: none !important;
    outline: none !important;
    color: black;
}

.shopping-cartproduct-title h4 {
    margin: 0;
    font-weight: 300;
    letter-spacing: .2px;
}

.shopping-cartproduct-title span {
    font-size: 15px;
    font-weight: 300;
    color: #000;
    letter-spacing: .2px;
}

.shopping-total {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 18px 0 17px;
}

.shopping_cart_total {
    float: right;
}

.shopping-cart-btn a {
    text-align: center;
    color: black;
    margin-bottom: 10px;
    padding: 16px 40px 17px;
    font-weight: 600;
    font-size: 16px;
    display: block;
    text-transform: uppercase;
    text-decoration: none !important;
    border: 1px solid rgb(0, 0, 0);
}

.shopping-cart-btn a:hover {
    color: white;
    border: 1px solid #ff3535;
    background-color: #ff3535;
}

.profile-name {
    width: 210px;
    top: 68px;
    right: -110px;
    padding: 15px 25px;
    position: absolute;
    background: rgb(255, 255, 255) none repeat scroll 0 0;
    box-shadow: 0 0 20px 0.4px #0000001a;
    -webkit-transition: all .4s ease 0s;
    -o-transition: all .4s ease 0s;
    transition: all .4s ease 0s;
    z-index: 9999;
}

.active-setting {
    position: relative;
}

.Product_img>img {
    width: 450px;
    height: 550px;
}

.Product_img {
    padding-top: 35px;
    padding-bottom: 35px;
}

.Product_info {
    padding-top: 35px;
    padding-bottom: 35px;
}

.Prod_category {
    position: relative;
}

.Prod_category::after {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 35px;
    height: 2px;
    background-color: #F1C874;
}

.Prod_category>p {
    padding-left: 50px;
    font-size: 25px;
    color: grey;
}

.Prod_title>h1 {
    font-weight: 900;
    color: black;
}

.Prod_desc>p {
    color: #000;
    font-size: 19px;
}

.Prod_price>h2 {
    color: #F03D45;
    font-weight: 600;
}

.Prod_counting{
    margin: 25px auto !important;
}
.product-count a {
    text-decoration: none;
    font-weight: 700;
    color: black;
}

.button-count {
    display: inline-block;
    width: 42px;
    height: 42px;
    background-color: #F03D45;
    color: white;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    border: none;
    outline: none;
}

.button-count:active {
    background-color: #F03D45;
}

.number-product {
    display: inline-block;
    width: 46px;
    height: 28px;
    font-size: 24px;
    border: 1px solid silver;
    text-align: center;
}

:disabled {
    background-color: silver;
}
.addtocart_btn>button{
    padding: 10px 35px;
    color: white;
    font-size: 19px;
    background-color: #F03D45;
    border: 2px solid #F03D45;
    border-radius: 2px;
}
.About_us_details{
    padding: 25px 25px;
    text-align: center;
   
}
.About_us_details>img{
    width : 90%;
    height: 300px;
    margin-bottom: 15px;
}
.about_info h2{
    text-align: center;
    font-weight: 900;
}
.about_info p{
    text-align: center;
    font-size: 18px;
    margin-bottom: 45px;
}
.About_us_community
{
    padding: 25px 25px;
}
.About_us_community h2
{
    font-weight: 900;
    font-size: 35px;
}
.About_us_community p
{
    font-size: 19px;
    margin-bottom: 25px;

}
.About_us_community > input{
    width: 100%;
    padding: 15px 15px;
    font-size: 17px;
    border-radius: 35px;
}
.About_us_community > button,.Contect_us_p2>button{
    padding: 20px 45px;
    font-size: 17px;
    border-radius:35px ;
    margin-top: 25px;
    color: white;
    background-color: #F03D45;
    border: 2px solid #F03D45;
}
.Contect_us_p1 h1{
    font-size: 40px;
    margin-bottom: 25px;
    font-weight: 900;
}
.Contect_us_p1 p{
    font-size: 19px;
}
.Contect_us_p2{
    margin: auto;
    text-align: center;
}
.Contect_us_p1{
    /* width: 90%; */
    padding-left: 45px;
}
.Contect_us_p2,.Contect_us_p1{
    padding-top: 35px;
    padding-bottom: 35px;
}
.Contect_us_p2 input,.Contect_us_p2 textarea
{
    display: block;
    width: 90%;
    margin-bottom:15px;
    padding: 10px 15px;
    font-size: 18px;
}
@media (max-width:1300px)
{
    .show{
        right: 100px;
        top: 108px;
    }
}
@media (max-width:1200px)
{
    #burger{
        display: block;
    }
    .service-widget.footer-widget {
        padding-left: 0px
    }
    .footer-content .contact-widget {
        margin-left: 0px;
    }
    .blog-banner-inner{
        margin-bottom: 100px;
        height: 500px;
    }
    .unvisible_mega_menu{
        display: none;
    }
    body{
        position: relative;
    }
    .main-menu>nav>ul>li{
        display: block;
    }
    .main-menu>nav {
        text-align: center;
    }
    .main-menu>nav>ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: rgb(0, 0, 0);
        top: 112px;
        left: -99999px;
        display: none;
        transition: 1s ease all;
    }
    img#logo {
        padding-bottom: 25px;
    }
    .main-menu>nav>ul>li>a{
        color: white;
        font-size: 25px;
    }
    .shownavigation{
        display: block !important;
        left: 0px !important;
    }
    #swiper2-wrapper>.swiper-slide{
        width: 271px !important;
    }
    .product-img-wrapper {
        position: relative;
        text-align: center;
    }
    .product-content_all{
        width: 250px;
        margin: auto;
    }
    ul.footer-social {
        margin-bottom: 25px;
    }
    ul.list {
        margin-bottom: 25px;
    }
}
@media (max-width:1000px) {
    .sale-banner-inner{margin-bottom: 15px;text-align: center;}
    .search-product-bar {
        position: relative;
        text-align: center;
        margin-bottom: 15px;
    }
    
    
}
@media (max-width:770px)
{
    .main-menu>nav>ul{
        position: absolute;
        width: 100vw;
        left: -99999px;
        height: 100vh;
        background: rgb(0, 0, 0);
        top: 40px;
        display:  none;
        transition: 1s ease all;

    }
    .main-footer {
       
        padding-left: 30px;
        /* padding: 100px; */
    
    }
    .copyright{
        text-align: center;
        margin-bottom: 15px;
    }
    .footer-nav{
        text-align: center !important;
    }
    .product-links{
        display: block;
    }
    .product-links>a{
        display: block;
    }
    .page-title-outter {
        padding-top: 153px;
    }
    
    .shownavigation{
        display: block !important;
        left: 0px !important;
    }
    .header-right
    {
        /* padding-top:0px ; */
        padding-bottom: 10px;
        justify-content: center;
    }
    
}
@media (max-width:768px) {
    .show {
        left: 0;
        width: 100vw;
        top: 40px;
    }
    .logo_section{
        justify-content: space-between !important;
    }
    .header-right
    {
        padding-top:0px !important;
        padding-bottom: 10px;
        justify-content: center;
    }
    .Contect_us_p2 input, .Contect_us_p2 textarea {
       
        margin: auto;
        margin-bottom: 15px;
    }
    
}
@media (max-width:500px) {
    .Product_img{
        padding: 0px !important;
        text-align: center;
    }
    .Product_img>img{
        width: 100vw;
    }
}
/* @media (max-width:600px) {
    .show{
        right: 115px;
    }
    
} */
/* # */
@media (max-width:380px) {
    
    img#logo,.logo-box img{
        width: 160px;
    }
}

