@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Lato&family=Open+Sans&family=Philosopher&family=Rajdhani:wght@500&family=Roboto+Condensed:wght@300&family=Roboto:wght@300&display=swap');

* {
    font-family: 'Rajdhani', sans-serif;
    letter-spacing: 1px;
}

*,
:after,
:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.main-content{
    padding-top: 35px;
}
.title h2{
    font-size: 35px;
    font-weight: 900;
    text-align: center;
}
.sub-title h2{
    font-size: 20px;


}
.title{
    text-align: center;
}
.sub-title-2 h2{
    font-size: 20px;
    padding-top: 25px;
}
.Field-input{
    margin-bottom: 20px;
    border: 1px transparent solid;
    background-clip: padding-box;
    border-radius: 5px;
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: 0.9285714286em 0.7857142857em;
    word-break: normal;
    line-height: inherit;
    background-color: white;
    color: #333333;
    border-color: #d9d9d9;
}
.Field-input:focus{
    outline:none;
}
.field-label{
    font-size: 0.8571428571em;
    font-weight: normal;
    position: absolute;
    top: 0;
    width: 100%;
    margin-top: 0.4285714286em;
    margin-left: 1px;
    padding: 0 0.9166666667em;
    z-index: 1;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
    pointer-events: none;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    opacity: 0;
}
.field__message--error{
    margin-top: 10px;
}
.btn-main{
    margin-top: 15px;
    margin-bottom: 50px;
    cursor: pointer;
    display: inline-block;
    background-color: #f44344;
    background-clip: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px transparent solid;
    border-radius: 5px;
    color: white;
    font-weight: 500;
    padding: 15px 44px;
    font-size: 16px;
    text-align: center;
    position: relative;
    -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;

}
div.submit a{
    font-size: 18px;
    /* font-family: opera sans-serif; */
    text-decoration: none;
    color: #F44344 !important;
    padding-left: 36px;
}
.result-container{
    width: 500px;
    height: 500px;
    position:absolute;
    background: rgb(255, 255, 255);
    box-shadow: 0 0 20px 0.4px #0000001a;
    top:20%;
    left:50%;
    opacity: 0;
    visibility: hidden;
    transform: translate(-50%,-50%);
    transition: all .4s ease 0s;
}
.show{
    opacity: 1;
    visibility: visible;
    top:50%;
}
#append{
    padding-top:15px;
    text-align: center;
    font-size: 25px;
}
